.site-menu ul li a {
    font-family: "Kaisei Decol", serif;
}

.report-top {
    padding-top: 45px;
    padding-bottom: 55px;
}

.report-top h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.report-top h2::after {
    content: "";
    display: block;
    width: 360px;
    height: 3px;
    background-color: #000000;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.report-top a {
    color: blue;
}

.reports{
    padding: 0.5em 1em;
    margin: 50px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.reports p {
    margin: 0; 
    padding: 0;
}

.reports h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.reports h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.picture-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;
}

.picture-list li {
    flex-shrink: 0;
    width: 260px;
    margin-left: 75px;
}

.picture-list li:first-child {
    margin-left: 0;
}

/*================スライダーのcss======================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    padding-top: 20px;
    margin:0 auto;
}

.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
/*================スライダーのためのcss======================*/

@media (max-width: 800px) {

    .header-logo {
        width: 50px;
    }

    .picture-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .picture-list li {
        width: 220px;
        margin-left: 30px;
    }
}