.reports-top {
    padding-top: 45px;
    padding-bottom: 55px;
}

.report-top h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.report-top h2::after {
    content: "";
    display: block;
    width: 360px;
    height: 3px;
    background-color: #000000;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.reports {
    background-color: #b7c0c7;
    padding-top: 45px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
}

.reports h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.reports h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.picture-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;
}

.picture-list li {
    flex-shrink: 0;
    width: 260px;
    margin-left: 75px;
}

.picture-list li:first-child {
    margin-left: 0;
}

@media (max-width: 800px) {
    .picture-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .picture-list li {
        width: 220px;
        margin-left: 30px;
    }
}